<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper black ">
         
            <ul class="left hide-on-med-and-down">
                <!--   <li>
                    <a href="#" data-activates="slide-out" class="button-collapse "><i class="material-icons">menu</i></a>
                </li>
  -->
  <li><a class=" red-text" routerLink="/login"><i class="material-icons white-text">user</i>LOGIN</a>
  </li>
  <li><a class=" red-text" routerLink="/register"><i class="material-icons white-text">user</i>register</a>
  </li>
            </ul>
        </div>
    </nav>
  </div>
    <!--<div>
      <a class=" red-text" routerLink="/videos"><i class="material-icons white-text">video_library</i>Videos</a>
  
  <a class=" red-text" routerLink="/profiles"><i class="material-icons white-text">supervised_user_circle</i>Profiles</a>
  
  <a class=" red-text" routerLink="/users"><i class="material-icons white-text">supervised_user_circle</i>Users</a>
  </div> -->
  <router-outlet></router-outlet>